					
					<div class="panel full" id="registreren">
						<h2>Accountgegevens</h2>
						<div class="progressBar">
							<div class="fill" style="width: 25%;">
								Stap 1 / 4
							</div>
						</div>
						<form method="POST"/>
							<table>
								<tr>
									<td>Email</td><td><input type="text" name="email" placeholder="mail@site.nl..." value="{SESSION_REG_EMAIL}" {CLASS_EMAIL}> {ERROR_EMAIL} </td>
								</tr>
								<tr>
									<td>Gebruikersnaam</td><td><input type="text" name="gebruikersnaam" placeholder="Gebruikersnaam..." value="{SESSION_REG_GEBRUIKERSNAAM}" {CLASS_GEBRUIKERSNAAM}> {ERROR_GEBRUIKERSNAAM}</td>
								</tr>
								<tr>
									<td>Wachtwoord</td><td><input type="password" name="wachtwoord" placeholder="wachtwoord" value="{SESSION_REG_WACHTWOORD}" {CLASS_WACHTWOORD}> {ERROR_WACHTWOORD}</td>
								</tr>
								<tr>
									<td>Herhaal wachtwoord</td><td><input type="password" name="herh_wachtwoord" placeholder="Herhaal wachtwoord" value="{SESSION_REG_HERH_WACHTWOORD}" {CLASS_HERH_WACHTWOORD}> {ERROR_HERH_WACHTWOORD}</td>
								</tr>
								<tr>
									<td>Geheime vraag</td>
                                                                        <td>
                                                                                <select name="vraag">
                                                                                        {NEXT_VRAAG}
                                                                                </select>
                                                                        </td>
								</tr>
								<tr>
									<td>Geheime antwoord</td><td><input type="text" name="antwoord" placeholder="Geheim antwoord" value="{SESSION_REG_ANTWOORD}"    {CLASS_ANTWOORD}> {ERROR_ANTWOORD}</td>
								</tr>
							</table>
							<input type="submit" name="next" value="Volgende stap" />
						</form>
					</div>
