					<div class="panel full" id="registreren">
						<h2>Verkopersgegevens</h2>
						<div class="progressBar">
							<div class="fill" style="width: 75%;">
								Stap 3 / 4
							</div>
						</div>
						<form method="POST"/>
							<table>
								<tr>
									<td>Wilt u producten aanbieden?</td><td><input type="radio" name="aanbieden" value="true"/>Ja<br/><input type="radio" name="aanbieden" value="false"/>Nee</td>
								</tr>
								<tr>
									<td>Via welke methode zal de controle uitgevoerd worden?</td><td><input type="radio" name="controle" value="creditcard"/>Creditcard<br/><input type="radio" name="controle" value="post"/>Post</td>
								</tr>
							</table>
							<input type="submit" name="previous" value="Vorige stap" />
							<input type="submit" name="next" value="Volgende stap" />
						</form>
					</div>
