					<div class="panel full" id="registreren">
						<h2>Persoonsgegevens</h2>
						<div class="progressBar">
							<div class="fill" style="width: 50%;">
								Stap 2 / 4
							</div>
						</div>
						<form method="POST"/>
							<table>
								<tr>
									<td>Voornaam</td><td><input type="text" name="voornaam" placeholder="Voornaam" value="{SESSION_REG_VOORNAAM}" {CLASS_VOORNAAM}> {ERROR_VOORNAAM}</td>
								</tr>
								<tr>
									<td>Tussenvoegsel</td><td><input type="text" name="tussenvoegsel" placeholder="Tussenvoegsel" value="{SESSION_REG_TUSSENVOEGSEL}" {CLASS_TUSSENVOEGSEL}> {ERROR_TUSSENVOEGSEL}</td>
								</tr>
								<tr>
									<td>Achternaam</td><td><input type="text" name="achternaam" placeholder="Achternaam" value="{SESSION_REG_ACHTERNAAM}" {CLASS_ACHTERNAAM}> {ERROR_ACHTERNAAM}</td>
								</tr>
								<tr>
									<td>Straat, huisnummer</td><td><input type="text" name="straat" placeholder="Straat" style="width: calc(75% - 200px);" value="{SESSION_REG_STRAAT}" {CLASS_STRAAT}> {ERROR_STRAAT}<input type="text" name="huisnummer" placeholder="Huisnummer" style="margin-left: 5px; width: calc(25%);" value="{SESSION_REG_HUISNUMMER}" {CLASS_HUISNUMMER}> {ERROR_HUISNUMMER}</td>
								</tr>
								<tr>
									<td>Woonplaats, postcode</td><td>	<input type="text" name="woonplaats" placeholder="Woonplaats" style="width: calc(75% - 200px);" value="{SESSION_REG_WOONPLAATS}" {CLASS_WOONPLAATS}> {ERROR_WOONPLAATS}
																		<input type="text" style="margin-left: 0px; width: calc(25%);" name="postcode" placeholder="Postcode" value="{SESSION_REG_POSTCODE}" {CLASS_POSTCODE}> {ERROR_POSTCODE}</td>
								</tr>
								<tr>
									<td>Land</td><td><select name="land"><option value="NL">Nederland</option><option value="NL">België</option></select> {ERROR_LAND}</td>
								</tr>
								<tr>
									<td>Geboortedatum</td><td><input type="text" name="geboortedatum" placeholder="Geboortedatum..." value="{SESSION_REG_GEBOORTEDATUM}" {CLASS_GEBOORTEDATUM}> {ERROR_GEBOORTEDATUM}</td>
								</tr>
								<tr>
									<td>Telefoonnummer</td><td><input type="text" name="tel" placeholder="Telefoonnummer..." value="{SESSION_REG_TEL}" {CLASS_TEL}> {ERROR_TEL}</td>
								</tr>
							</table>
							<input type="submit" name="previous" value="Vorige stap" />
							<input type="submit" name="next" value="Volgende stap" />
						</form>
					</div>
