				<div class="cf">
					
					<div class="panel full" id="registreren">
						<h2>Vul gegevens in</h2>
						<form method="GET">
							<table>
								<tr>
									<td>Gebruikersnaam</td><td><input type="text" name="gebruiker" placeholder="Gebruikersnaam..."></td>
								</tr>
								<tr>
									<td>Activatiecode</td><td><input type="text" name="code" placeholder="Activatiecode..."></td>
								</tr>
							</table>
							<input type="submit" name="submit" value="Stuur bericht" />
						</form>
					</div>
				</div>
