body {
	margin: 0;
	padding: 0;
	font-family: verdana;
	background: #f5f5f5;
	height: 100%;
}

html {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #265889;
}

.panel form {
	margin-bottom: 00px;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	background: #343131;
	height: 150px;
	width: 100%;
	color: white;
}

#header img {
	margin-top: 43px;
}

#header a {
	color: #b9d7f3;
	text-decoration: underlined;
}

#loginBox {
	float: right;
	width: 150px;
	margin: 16px 0;
	font-size: 0.9rem;
}

#loginBox a:hover {
	text-decoration: underline;
}

#loginBox  input{
	display: block;
	background: white;
	border: none;
	padding: 5px 10px;
	width: 100%;
}

#loginBottom input{
	display: block;
	background: white;
	border: none;
	padding: 0px 10px;
	width: calc(100% - 10px);
	line-height: 30px;
	margin-top: 20px;
}

#loginBottom input[type="text"], #loginBottom input[type="password"] {
	border: 1px solid #f5f5f5;
}

#loginBox  input[type="submit"], #loginBottom input[type="submit"]{
	background: #265889;
	color: white;
}

#menu li a:hover, .button:hover, #loginBox  input[type="submit"]:hover, #loginBottom input[type="submit"]:hover{
	cursor: pointer;
	background: #7d90a3 !important;
	border: 0px;
}

#loginBox .form_error {
	color: red;
	float: left;
	position: absolute;
	margin-left: -250px;
	text-align: right;
	margin-top: -22px;
}

#menu {
	width: 100%;
	height: 40px;
	background: #CBE0F3;
	font-size: 0.8rem;
}

#menu li  a, .button{
	line-height: 30px;
	display: block;
	border: 0px;
	margin: 5px 0;
	background: #265889;
	text-align: center;
	color: #fff;
	width: 120px;
}

.inlineButton {
	color: #265889;
}

#menu input, #menu select {
	padding: 5px 0 5px 30px;
	background: no-repeat white url('img/search.png');
	background-size: 18px 18px;
	background-position: 3px 4px;
	border: 0px solid gray;
}

#menu select {
	background: white;
	padding: 5px;
}

#menu input.button {
	background: #265889;
	text-align: center;
	margin: 5px 0;
	padding: 0 20px;
	color: white;
}

#menu li {
	float: left;
	margin: 0 30px 0 0;
	line-height: 40px;
}

#menu li.right {
	margin: 0 0 0 10px;
}

#content {
	padding-bottom: 100px;
}

#content h1 {
	text-transform: capitalize;
	color: #265889;
	margin-top:40px;
}

#content h2 {
	margin: 0.83rem;
	display: block;
	font-size: 1.1rem;
}

#content h3 {
	margin: 0.83rem;
	display: block;
	font-size: 1.0rem;
	color: #265889;
}

.panel .scroll {
	overflow-y: auto;
	height: 251px;
}

.panel li {
	margin: 0 10px;
	padding: 15px;
	border-top: 1px dashed #dfdfdf;
}

.panel li:hover, .topadvertentie:hover{
	background: #fafafa;
	cursor: pointer;
	color: black !important;
}

.panel li:first-child {
	border: none;
}

.panel p {
	padding-left: 15px;
}

.panel li img{
	background: #265889;
	width: 40px;
	height: 40px;
	float: left;
}

.panel li p {
	float: left;
	margin: 0 10px;
	line-height: 20px;
	font-size: 0.8rem;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
}

h1 a {
	font-size: 1rem;
	width: auto !important;
	padding: 0 20px;
	font-weight: normal;
}

#suggesties {
	height: 580px;
}

#suggesties .scroll {
	height: 531px;
}

.panel ul li p {
	float: none;
}

.panel ul li img {
	margin: 0 10px 10px 0;
}

#profielgegevens {
	height: 250px;
}

#profielgegevens .button {
	width: 100%;
}

#profielgegevens p{
	width: 325px;
	padding: 0 14px;
	font-size: 0.9rem;
	line-height: 20px;
}

#rubrieken li{
	font-size: 0.8rem;
	border: none;
	margin: 0;
	padding: 0;
}

#rubrieken ul ul{
	padding-left: 30px;
}

#rubrieken ul ul li a{
	font-size: 0.7rem;
	padding: 10px;
}

#rubrieken li a {
	color: black;
	padding: 15px;
	display: block;
}

#rubrieken li:hover {
	background: inherit !important;
}

#rubrieken li a:hover {
	background: #f5f5f5;
}

#verkoper table{
	margin: 13px;
	font-size: 0.8rem;
	width: calc(100% - 26px);
	border-spacing: 0;
}

#verkoper tr:nth-child(even){
	background: #efefef;
}

#verkoper form {
	margin: 0 14px;
}

#verkoper tr td {
	padding: 5px;
}

#verkoper input[type="submit"] {
	width: auto;
	margin: 0;
	display: inline;
	border: 2px solid #265889;
}

#verkoper input {
	padding: 5px 10px;
	line-height: 15px;
}

#product img {
	margin: 8px;
	float: right;
}

#product p, #verkoper p {
	font-size: 0.8rem;
	margin: 5px 15px;
	padding: 5px 0;
	
}

#product p:last-child {
	border: none;
}

#registreren, #gegevens{
	overflow: auto;
	height: initial;
	font-size: 0.8rem;
}

#registreren table, #gegevens table {
	width: calc(100% - 200px);
	margin: 10px 100px;
}

#registreren td:first-child, #gegevens td:first-child{
	text-align: right;
	width: 300px;
	padding: 5px;
}

#registreren input, #registreren textarea, #registreren select,#gegevens select, #gegevens textarea, #gegevens input{
	width: calc(100% - 195px);
	padding: 5px;
}

#registeren input[type="file"]{
	display: none;
}

#registreren .file {
	display: none !important;
}

#registreren img {
	display: none;
	background-size: 100% auto;
	width: calc(100% - 195px);
	height: 150px;
}

#registreren img.fileSelector {
	display: block;
	width: 290px;
	height: 290px;
}

#registreren textarea , #gegevens textarea{
	height: 100px;
	font-family: verdana;
	font-size: 0.8rem;
}

#registreren input[type="radio"], #gegevens input[type="radio"]{
	width: initial;
}

#registreren input[type="submit"], #gegevens input[type="submit"] {
	margin: 20px auto;
	width: 300px;
	display: block;
}

#registreren tr:nth-child(2){
	border-bottom: 1px solid red;
}

#gegevens a {
	margin: 10px 10px;
	line-height: 20px;
}

#gegevens td:nth-child(2) {
	width: calc(100% - 195px);
	padding: 4px;
	height: 32px;
	border: 1px solid rgba(0,0,0,0)
}

#gegevens tr span{
	height: 32px;
}

#gegevens tr input{
	margin: 0;
}

#footer {
	background: #343131;
	font-size: 0.8rem;
	height: 60px;
	line-height: 60px;
	bottom: 0;
	position: absolute;
	width: 100%;
}

#footer ul{

}

#footer ul li{
	float: left;
	margin-right: 30px;
}

#footer ul li a{
	line-height: 50px;
	color: white;
}

.topadvertentie {
	height: 125px;
	width: 325px;
	font-size: 0.9rem;
}

.topadvertentie:nth-child(1n+4) {
	border-top: 1px dashed #efefef;
}

.topadvertentie:nth-child(even) {
	border-right: 1px dashed #efefef;
}

.topadvertentie img {
	margin: 12px;
	width: 100px;
	height: 100px;
}

.topadvertentie p {
	line-height: 25px;
	margin: 12px 0;
}

.panel {
	margin-bottom: 30px;
	overflow: hidden;
	height: 300px;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.third {
	width: 300px;
	margin-right: 50px;
}

.twothird {
	width: 650px;
	margin-right: 50px;
}

.full {
	width: 1000px;
}

.last {
	margin-right: 0 !important; 
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.left {
	float: left;
}

.right {
	float: right !important;
}

.noBG {
	background: none !important;
}

.noHeight {
	height: initial !important;
}

.hackfix {
	height: 100%;
	background: white;
	overflow: hidden;
	margin: 5px;
	
}

.progressBar {
	width: 900px;
	margin: 20px 50px;
	height: 20px;
	background: #b0b0b0;
	border-radius: 10px;
	line-height: 20px;
	color: white;
	
}

.progressBar .fill {
	background: green;
	height: 100%;
	border-radius: 10px;
	font-size: 0.7rem;
	text-align: center;
}

.active > a {
	background: #CBE0F3 !important;
}

.active li {
	background: white;
}

.breadcrumbs {
	display: block;
	margin: 5px 0 0 0;
	font-size: 0.8rem;
	font-weight: initial;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.form_error {
	display: block;
	color: red;
}

#imageBox {
	margin-left: 30px;
	margin-bottom: 30px;
}

input[type="text"].error, input[type="password"].error, textarea.error {
	border: 2px solid rgb(255,150,150);
	background: rgb(255,240,240);
}

input[type="text"].good, input[type="password"].good {
	border: 2px solid rgb(150,255,150);
	background: rgb(240,255,240);
}

*::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #265889;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }