body {
	margin: 0;
	padding: 0;
	font-family: verdana;
	background: #efefef;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
}

#header {
	background: #343131;
	height: 150px;
	width: 100%;
}

#header img {
	margin-top: 43px;
}

#header #loginBox {
	float: right;
	width: 150px;
	margin: 16px 0;
}

#header #loginBox  input{
	display: block;
	background: white;
	border: none;
	padding: 5px 10px;
	width: 100%;
}

#header #loginBox  input[type="submit"]{
	background: #265889;
	color: white;
	-webkit-transition: background 0.2s;
}

#menu li a:hover, .button:hover, #header #loginBox  input[type="submit"]:hover{
	cursor: pointer;
	background: #7d90a3;
}

#menu {
	width: 100%;
	height: 40px;
	background: #CBE0F3;
	font-size: 0.8rem;
}

#menu li  a, .button{
	line-height: 30px;
	display: block;
	padding: 0 30px;
	margin: 5px 0;
	background: #265889;
	text-align: center;
}

.inlineButton {
	color: #265889;
}

#menu input, #menu select {
	padding: 5px 0 5px 30px;
	background: no-repeat white url('img/search.png');
	background-size: 18px 18px;
	background-position: 3px 4px;
	border: 0px solid gray;
}

#menu select {
	background: white;
	padding: 5px;
}

#menu input.button {
	background: #265889;
	text-align: center;
	margin: 5px 0;
	padding: 0 20px;
	color: white;
}

#menu li {
	float: left;
	margin: 0 30px 0 0;
	line-height: 40px;
}

#menu li.right {
	margin: 0 0 0 10px;
}

#content h1 {
	text-transform: capitalize;
	color: #265889;
	margin-top:40px;
}

#content h2 {
	margin: 0.83rem;
	display: block;
	font-size: 1.1rem;
}

.panel .scroll {
	overflow-y: auto;
	height: 251px;
}

.panel li {
	margin: 0 10px;
	padding: 15px;
	border-top: 1px dashed #dfdfdf;
}

.panel li:first-child {
	border: none;
}

.panel li img{
	background: #265889;
	width: 40px;
	height: 40px;
	float: left;
}

.panel li p {
	float: left;
	margin: 0 10px;
	line-height: 20px;
	font-size: 0.8rem;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
}

#suggesties {
	height: 580px;
}

#suggesties .scroll {
	height: 531px;
}

#profielgegevens {
	height: 250px;
}

#profielgegevens p{
	width: 325px;
	padding: 0 14px;
	font-size: 0.9rem;
	line-height: 20px;
}

.panel {
	margin-bottom: 30px;
	overflow: hidden;
	height: 300px;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.third {
	width: 300px;
	margin-right: 50px;
}

.twothird {
	width: 650px;
	margin-right: 50px;
}

.last {
	margin-right: 0 !important; 
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.left {
	float: left;
}

.right {
	float: right !important;
}

.noBG {
	background: none !important;
}

.hackfix {
	height: 100%;
	background: white;
	overflow: hidden;
	margin: 5px;
	
}

*::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #265889;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }