						<form action="" method="post">
							<input type="text" name="username" placeholder="Gebruikersnaam"  value="{POST_USERNAME}" />
                                                        {ERROR_USERNAME}
							<input type="password" name="password" placeholder="Wachtwoord" value="{POST_PASSWORD}" />
                                                        {ERROR_PASSWORD}
							<input type="Submit" name="submitlogin" value="Inloggen" />
                                                </form>
                                                <form action="wachtwoordvergeten" method="get">
							<input type="hidden" name="username" placeholder="Gebruikersnaam"  value="{POST_USERNAME}" />
							<input type="Submit" name="forgot" value="Wachtwoord vergeten" />
						</form>
