				<div class="left" id="biedingen">
					<div class="cf">
						<div class="left panel third">
							<h2>Biedingen</h2>
							<div class="scroll">
								<ul>
                                                                        {NEXT_BIEDING}
								</ul>
							</div>
						</div>
						<div class="left panel third">
							<h2>Voorwerp</h2>
							<div class="scroll">
								<ul>
                                                                        {NEXT_VOORWERP}
                                                                </ul>
							</div>
						</div>
					</div>
					<div class="panel twothird cf" id="profielgegevens">
						<h2>Profielgegevens</h2>
						<div class="left">
							<p>
								{PROFIEL_NAAM}</br>
								{PROFIEL_ADRES}</br>
								{PROFIEL_POSTCODE} {PROFIEL_WOONPLAATS} {PROFIEL_LAND}</br></br>
								<a href="" class="inlineButton">Gegevens aanpassen...</a>
							</p>
						</div>
                                                {FEEDBACK}
					</div>
				</div>
				<div class="left panel third last" id="suggesties">
					<h2>Suggesties</h2>
                                        <div class="scroll">
                                                <ul>
                                                        {NEXT_SUGGESTIE}
                                                </ul>
                                        </div>
				</div>
