				<div class="cf">
					
					<div class="panel full" id="registreren">
						<h2>Goed!</h2>
                                                <p>
                                                        Dit is het juiste antwoord! <br />
                                                        Er is een mail gestuurd met de volgende link:
                                                        <a href="{URL}">Klik hier om het wachtwoord aan te passen</a>
                                                </p>
					</div>
				</div>
