				<div class="left panel twothird noHeight" id="product">
					<div id="imageBox" class="right">
						<div>
							<a href="http://iproject31.icasites.nl/Gallery/{VEILING_FILENAAM}" title="titel leuk" class="lightbox"><img src="http://iproject31.icasites.nl/Gallery/{VEILING_FILENAAM}" width=200 height=200 class="left" /></a>
						</div>
						<div class="cf">
                                                        {NEXT_AFBEELDING}
						</div>
					</div>
                                        
					<h2>Informatie</h2>
					<p>Titel: {VEILING_TITEL}<br />
					Minimum-bod: €{VEILING_STARTPRIJS} <br />
					Plaatsnaam: {VEILING_PLAATSNAAM} <br />
					Land: {VEILING_LAND} <br />
					</p>
					<h2>Beschrijving</h2>
					<p>{VEILING_BESCHRIJVING}
					</p>
					<h2>Verzending</h2>
					<p>Verzendkosten: €{VEILING_VERZENDKOSTEN}<br />
					Verzendinstructies: {VEILING_VERZENDINSTRUCTIES}<br />
					</p>
					<h2>Betaling</h2>
					<p>Betalingsinstructie: {VEILING_BETALINGINSTRUCTIE}<br />
					Betalingswijze: {VEILING_BETALINGSWIJZE} <br />
					</p>
				</div>

				<div class="left panel third last noHeight" id="verkoper">
					<h2>Verkoper</h2> 
					<p>
					{VEILING_GEBRUIKERSNAAM}<br/>
					{VEILING_TELEFOON}<br/>
                                        <a href="bericht?gebruiker={VEILING_GEBRUIKERSNAAM}">Stuur een bericht</a> <br/>
					</p>
					<h2>Tijd resterend</h2>
					<p>
                                                <span id="{TIMER_CLASS}"></span>
					</p>
					<h2>Biedingen</h2>
                                        <p>
                                                {VEILING_BIEDEN}
                                        </p>
                                        <table>
                                                <thead>
                                                        <tr>
                                                                <th>
                                                                        Bod
                                                                </th>
                                                                <th>
                                                                        Gebruiker
                                                                </th>
                                                        </tr>
                                                </thead>
                                                {NEXT_BOD}
                                        </table>
                                                
				</div>
