				<div class="left" id="biedingen">
					<div class="cf">
						<div class="panel twothird">
							<h2>Top advertenties</h2>
                                                        {NEXT_ADVERTENTIE}
						</div>
					</div>
					<div class="panel twothird cf" id="profielgegevens">
                                                {PROFIEL_INLOGGEN}
					</div>
				</div>
				<div class="left panel third last" id="suggesties">
					<h2>Suggesties</h2>
                                        <div class="scroll">
                                                <ul>
                                                        {NEXT_SUGGESTIE}
                                                </ul>
                                        </div>
				</div>
