<div class="left">
        <h3>Registreren</h3>
        <p>
                Registreer nu en begin direct met bieden!</br></br>
                <a href="" class="button" style="margin-top: 120px;">Registreren</a>
        </p>
</div>
<div class="left">
        <h3>Inloggen</h3>
        <p>
                <div id="loginBottom">
                        <form action="" method="post">
                                <input type="text" name="username" placeholder="Gebruikersnaam" />
                                <input type="password" name="password" placeholder="Wachtwoord" />
                                <input type="Submit" name="submit" value="Inloggen" />
                                <input type="Submit" name="forgot" value="Wachtwoord vergeten" />
                        </form>
                </div>
        </p>
</div>
