<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name=description content="webshop">
   <meta name=keywords content="webshop">
   <title>EenmaalAndermaal</title>
   <link rel="stylesheet" type="text/css" href="main.css" />
   <link rel="stylesheet" href="js/easybox/styles/default/easybox.min.css" type="text/css" media="screen" />
   <script type="text/javascript" src="js/jquery.min.js"></script>
   <script type="text/javascript" src="js/main.js"></script>
   <script type="text/javascript" src="js/jquery.plugin.js"></script>
   <script type="text/javascript" src="js/jquery.countdown.js"></script>
   <script type="text/javascript" src="js/jquery-ui-1.10.4.custom.js"></script>
   <!--<script type="text/javascript" src="js/scroll.js"></script> -->
   <script type="text/javascript" src="js/easybox/distrib.min.js"></script>
   {JS_FILE}
   <script>
           $(function () {
                 $('.rubriekenlist').accordion({
                        heightStyle: "content",
                        event: "click",
                        navigation: true,
                        animate: 200,
                        collapsible: true,
                        active: false
                });
                $(".rubriekenlist a span").click(function() { 
                        window.location = $(this).parent().attr("href");
                        return false;
                });
                
                var element = $(".rubriekenlist li.active");
                var parent = element.parent();
                while(parent.prop("tagName")=='UL')
                {
                        var index = element.index();
                        parent.accordion({animate: 0});
                        parent.accordion({active: index});
                        parent.accordion({animate: 200});
                        element = element.parent().parent();
                        parent = parent.parent().parent();
                }
                {JS_COUNTDOWN}
           })
   </script>

</head>
        <body>
                <div id="container">
                        <div id="header">
                                <div class="wrapper">
                                        <div id="upperArea">
                                                <div id="banner" class="left">
                                                        <img src="img/logo2.png" alt="Eenmaal Andermaal... Verkocht!" />
                                                </div>
                                                <div id="loginBox">
                                                        {TOPBAR}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div id="menu">
                                <div class="wrapper">
                                        <form method='get' action='zoek'>
                                                <ul>
                                                        <li><a href="home">Home</a></li>
                                                        <li><a href="zoek">Rubrieken</a></li>
                                                        <li class="right"><input class="button" type="submit" value="Zoek"/></li>
                                                        <li class="right noBG"><input type="text" name="zoekveld" placeholder="Zoektermen..." value="{GET_ZOEKVELD}" /></li>
                                                        <li class="right noBG">
                                                                <select name="rubriek">
                                                                        <option value="0">Alle rubrieken</option>
                                                                        {NEXT_RUBRIEK_DROPDOWN}
                                                                </select>
                                                        </li>
                                                </ul>
                                        </form>
                                </div>
                        </div>
                        <div id="content">
                                <div class="wrapper cf">
                                        <h1>{TITLE}<a class="right button" href="nieuweveiling">Plaats voorwerp</a></h1>
                                        {CONTENT}
                                </div>
                        </div>
                        <div id="footer">
                                {FOOTER}
                        </div>
                </div>
	</body>
</html>