				<div class="cf">
					
					<div class="panel full" id="registreren">
						<h2>Stuur bericht</h2>
						<form method="POST" enctype="multipart/form-data">
							<table>
								<tr>
									<td>Titel</td><td><input type="text" name="titel" placeholder="Titel bericht..."></td>
								</tr>
								<tr>
									<td>Bericht</td><td><textarea style="height: 200px;" name="bericht" placeholder="Bericht..."></textarea></td>
								</tr>
							</table>
							<input type="submit" name="submit" value="Stuur bericht" />
						</form>
					</div>
				</div>
